@charset "UTF-8";

/* calender用 CSS */
.calendar-container {
	width: 500px;
	height:321px;
	margin: 0 auto;
	border-radius: 5px;
	background: #f6f5f4;
	color: #1a1a1a;
}

th,
td {
	text-align: center;
	padding: 10px;
}

th {
	font-weight: normal;
	font-size: 14px;
}

td {
	font-weight: bold;
}

.calendar {
	padding: 0 30px 30px 30px;
	width: 100%;
}

.day *:first-child {
	color: #ff838b;
}

.day *:last-child {
	color: #6fb5ff;
}

.calenderh1 {
	display: inline;
	vertical-align: -10%;
	padding-left: 15px;
	padding-right: 10px;
}

.calenderDiv {
	padding-top: 10px;
	/* 内側余白(上) */
	padding-bottom: 10px;
	/* 内側余白(下) */

}

.arrow-top {
	border: 0;
	border-top: solid 2px #051181;
	border-right: solid 2px #051181;
	display: inline-block;
	transform: rotate(-45deg);
	width: 10px;
	height: 10px;
}

.arrow-right {
	border: 0;
	border-top: solid 2px #fb3c3c;
	border-right: solid 2px #fb3c3c;
	display: inline-block;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
}

.arrow-bottom {
	border: 0;
	border-bottom: solid 2px #feb64a;
	border-right: solid 2px #feb64a;
	display: inline-block;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
}

.arrow-left {
	border: 0;
	border-top: solid 2px #fb3c3c;
	border-left: solid 2px #fb3c3c;
	display: inline-block;
	transform: rotate(-45deg);
	width: 10px;
	height: 10px;
}