@charset "UTF-8";

body {
	background: peachpuff;
}

.side {
	position: absolute;
	width: 200px;
	height: 1000px;
	text-align: center;
	background-color: lightcoral;
	overflow: hidden;
}

.side a {
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: lightcoral;
	text-align: center;
}

.side a:hover {
	background: #f07070;
}

.content {
	width: 1000px;
	height: 300px;
	text-align: center;
}

article {
	display: flex;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
	width: 600px;
	display: block;

	margin-left: auto;
	margin-right: auto;

	background-color: white;
	padding-top: 15px;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
}

.right{
	align-items: flex-end;
}

.left{
	align-items: flex-start;
}

.scroll::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-track {
	background-color: white;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #f06060;
	border-radius: 5px;
}

.label {
	width: 600px;
	background: lightcoral;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

/*.scroll div{*/
/*	display:inline-block;*/
/*	text-align: center;*/
/*}*/

.send {
	width: 60px;
	height: 30px;
	background: lightcoral;
	border-radius: 5px;
	border-color: white;
	color: white;
	position: absolute;
	bottom: 110px;
	right:15%;
}

.recieve {
	width: 60px;
	height: 30px;
	background: lightcoral;
	border-radius: 5px;
	border-color: white;
	color: white;
	position: absolute;
	bottom: 110px;
	right:10%;
}

textarea {
	position: absolute;
	bottom: 150px;
	right:3%;
	border: 2px solid lightcoral;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
	white-space: pre-wrap;
}

header placeholder {
	color: #F5B8B5;
}

small {
	position: absolute;
	left: 280px;
	color: #f06060;
}

.balloon-left {
	position: relative;
	float: left;
	left: 70px;
/*	width: fit-content;*/
	text-align: left;
	padding: 7px 10px;
	min-width: 0px;
	max-width: 400px;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
	z-index: 20;
	
	max-width: 500px;
	margin: 0;
	word-break: break-all;
	
}

.balloon-left:before {
	content: "";
	position: relative;
	float: left;
	top: 11px;
	left: -41px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 25px solid peachpuff;
	z-index: 10;
	word-break: break-all;
}

/*.balloon-left p {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

.balloon-right {
	position: relative;
	float: right;
	right: -100px;
	text-align: left;
	/*	margin: 10px 15px 10px 20px;*/
/*	width: fit-content;*/
	padding: 7px 10px;
	min-width: 0px;
	max-width: 400px;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
<<<<<<< HEAD
=======
	z-index: 10;
	word-break: break-all;
>>>>>>> branch 'master' of https://github.com/e-tan1guch1/pairPrograming_teamA_chat.git
}

.balloon-right:before {
	content: "";
	position: relative;
	float: right;
	/*	top: 10%;*/
	top: 11px;
	right: -40px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 25px solid peachpuff;

	z-index: 10;
	word-break: break-all;
}

.balloon-right p {
  margin: 0;
  padding: 0;
}

.delete{
	position: relative;
	float: right;
	right:100px;
	margin-bottom: 10px;
}

button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: bold;
	border: 2px solid #fff;
	color: #fff;
	/*	background: #f06060;*/

	border-radius: 10px;
	background: lightcoral;

}

button:hover {
	background: #fff;
	color: #f06060;
	border-color: lightcoral;
}

.balloon-right p {
	margin: 0;
	padding: 0;
}


.balloon-demo {
	position: absolute;
	left: 250px;
	display: inline-block;
	margin: 1.5em 20px 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
}

.balloon-demo:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 25px solid peachpuff;
}

.balloon-demo p {
	margin: 0;
	padding: 0;
}

.like-button {
	float: left;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.liked {
	float: left;
	background-color: pink;
	color: #fff;
}