@charset "UTF-8";

body {
	background: peachpuff;
}

.side {
	position: absolute;
	width: 200px;
	height: 1000px;
	text-align: center;
	background-color: lightcoral;
	overflow: hidden;
}

.side a {
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: lightcoral;
	text-align: center;
}

.side a:hover {
	background: #f07070;
}

.content {
	width: 1000px;
	height: 300px;
	text-align: center;
}

article {
	display: flex;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
	width: 600px;
	display: block;

	margin-left: auto;
	margin-right: auto;

	background-color: white;
	padding-top: 15px;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;
}

.right {
	align-items: flex-end;
}

.left {
	align-items: flex-start;
}

.scroll::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-track {
	background-color: white;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #f06060;
	border-radius: 5px;
}

.label {
	width: 600px;
	background: lightcoral;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

/*.scroll div{*/
/*	display:inline-block;*/
/*	text-align: center;*/
/*}*/

.send {
	width: 60px;
	height: 30px;
	background: lightcoral;
	border-radius: 5px;
	border-color: white;
	color: white;
	position: absolute;
	bottom: 110px;
	right: 15%;
}

.recieve {
	width: 60px;
	height: 30px;
	background: lightcoral;
	border-radius: 5px;
	border-color: white;
	color: white;
	position: absolute;
	bottom: 110px;
	right: 10%;
}

textarea {
	position: absolute;
	bottom: 150px;
	right: 3%;
	border: 2px solid lightcoral;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
}

header placeholder {
	color: #F5B8B5;
}

small {
	position: absolute;
	left: 280px;
	color: #f06060;
}

.balloon-left {
	position: relative;
	float: left;
	left: 70px;
	text-align: left;
	padding: 7px 10px;
	min-width: 0px;
	max-width: 400px;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
	z-index: 20;
	margin: 0;
	word-break: break-all;

	width: fit-content;
	margin-right: auto;

}

.balloon-left:before {
	content: "";
	position: absolute;
	float: left;
	top: 20px;
	left: -30px;
	margin-top: -15px;
	border: 10px solid transparent;
	border-right: 25px solid peachpuff;

	z-index: 5;
}

/*.balloon-left p {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

.balloon-right {
	position: relative;
	float: right;
	text-align: left;
	padding: 7px 10px;
	min-width: 0px;
	max-width: 400px;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
	z-index: 10;
	word-break: break-all;

	width: fit-content;
	margin-left: auto;
	margin-right: 50px;
}

.balloon-right:before {
	content: "";
	position: absolute;
	float: right;
	top: 20px;
	right: -30px;
	margin-top: -15px;
	border: 10px solid transparent;
	border-left: 25px solid peachpuff;

	z-index: 5;
}

.balloon-right p {
	margin: 0;
	padding: 0;
}

.delete {
	position: relative;
	float: right;
	left: 490px;
	margin-bottom: 10px;
}

button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: bold;
	border: 2px solid #fff;
	color: #fff;
	/*	background: #f06060;*/

	border-radius: 10px;
	background: lightcoral;

}

button:hover {
	background: #fff;
	color: #f06060;
	border-color: lightcoral;
}

.balloon-right p {
	margin: 0;
	padding: 0;
}


.balloon-demo {
	position: absolute;
	left: 250px;
	display: inline-block;
	margin: 1.5em 20px 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
}

.balloon-demo:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 25px solid peachpuff;
}

.balloon-demo p {
	margin: 0;
	padding: 0;
}

.like-button {
	border: 0;
	position: relative;
	float: left;
	left: 70px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/check_pink.png);
	background-repeat: no-repeat;
	background-size: 50%;
}

.like-button:hover {
	cursor: pointer;
	border: 0;
	position: relative;
	float: left;
	left: 70px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/check_pink.png);
	background-repeat: no-repeat;
	background-size: 50%;
}

.liked {
	cursor: pointer;
	border: 0;
	position: relative;
	float: left;
	left: 70px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/checked.png);
	background-repeat: no-repeat;
	background-size: 50%;
}

.liked:hover {
	cursor: pointer;
	border: 0;
	position: relative;
	float: left;
	left: 70px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/checked.png);
	background-repeat: no-repeat;
	background-size: 50%;
}

.right-like-button {
	border: 0;
	position: relative;
	float: right;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/check_pink.png);
	background-repeat: no-repeat;
	background-size: 50%;
	left: 490px;
}

.right-like-button:hover {
	border: 0;
	position: relative;
	float: right;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/check_pink.png);
	background-repeat: no-repeat;
	background-size: 50%;
	left: 490px;
}

.right-liked {
	border: 0;
	position: relative;
	float: right;
	right: 0px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/checked.png);
	background-repeat: no-repeat;
	background-size: 50%;
	left: 490px;
}

.right-liked:hover {
	border: 0;
	position: relative;
	float: left;
	left: 70px;
	width: 35px;
	height: 35px;
	background: #fff;
	background-image: url(/images/checked.png);
	background-repeat: no-repeat;
	background-size: 50%;
	left: 490px;
}

.underText {
	float: right;
	display: inline-flex;
}