@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 900px;
}

header,
footer {
	color: white;
	background-color:#f06060;
	padding-top: 4px;
	/* 内側余白(上) */
	padding-bottom: 4px;
	/* 内側余白(下) */
}

body {
	margin: 0%;
	padding: 0%
}

header div.user{
	margin-left:auto;
	margin-right:20px;
	margin-top: 15px;
	width:23%;
}

header div.aplication a{
	color:white;
/*	height: 24px;*/
}

header h1{
	margin-top: 0px;
	padding-left: 15px;
	text-align: left;
}

header div.user a{
	color:#ffffff;
	position: absolute;
	top:2%;
	right:2%;
}

.side {
	width: 200px;
	height: 500px;
	text-align: center;
	background-color: lightcoral
}

.side p {
	color: #ffffff;
}

.content {
	width: 1000px;
	height: 300px;
	text-align: center;
}

article {
	display: flex;
}

.send{
	width: 60px;
  height: 30px;
  background: lightcoral;
  border-radius: 5px;
  border-color:white;
  color:white;
}

textarea {
	border: 2px solid lightcoral;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
}

header placeholder {
	color: #F5B8B5;
}

.balloon-left {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	/*	要調整*/
	border-radius: 10px;
	margin-left: -400px
		/*	要調整*/
}

.balloon-left:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid peachpuff;
	/*	要調整*/
}

.balloon-left p {
	margin: 0;
	padding: 0;
}

/* calender用 CSS */
.calendar-container {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background: #f6f5f4;
  color: #1a1a1a;
}

th, td {
  text-align: center;
  padding: 10px;
}
th {
  font-weight: normal;
  font-size: 14px;
}
td {
  font-weight: bold;
}

.calendar {
  padding: 0 30px 30px 30px;
  width: 100%;
}

.day *:first-child {
  color: #ff838b;
}

.day *:last-child {
  color: #6fb5ff;
}