@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 900px;
}

header,
footer {
	color: white;
	background-color: #F5B8B5;
	padding-top: 4px;
	/* 内側余白(上) */
	padding-bottom: 4px;
	/* 内側余白(下) */
}

body {
	margin: 0%;
	padding: 0%
}


header {
	padding-left: 15px;
	text-align: left;
}

header a,
nav a {
	color: #ffffff;
}

.side {
	width: 200px;
	height: 800px;
	text-align: center;
	background: blue;
}

.content {
	width: 800px;
	height: 300px;
	text-align: center;
}

article {
	display: flex;
	/*サイドバーとメインコンテンツを横並びにする指定をした*/
}

textarea {
	border: 2px solid #F5B8B5;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
}

header placeholder {
	color: #F5B8B5;
}

.balloon-left {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: pink;
	/*	要調整*/
	border-radius: 10px;
	margin-left: -400px
		/*	要調整*/
}

.balloon-left:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid pink;
	/*	要調整*/
}

.balloon-left p {
	margin: 0;
	padding: 0;
}