@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 900px;
	overflow-x:hidden;
/*	overflow-y: hidden;*/
}

header,
footer {
	color: white;
	background-color: #f06060;
	padding-top: 4px;
	/* 内側余白(上) */
	padding-bottom: 4px;
	/* 内側余白(下) */
}

header div.user {
	margin-left: auto;
	margin-right: 20px;
	margin-top: 15px;
	width: 23%;
}

header div.application a {
	color: white;
	/*	height: 24px;*/
	text-decoration: none;
	display: inline-block;
	justify-content:center;
	align-items:center;
	width: 180px;
}

header div.application a:hover{
background: indianred;
}

header h1 {
	margin-top: 0px;
	padding-left: 15px;
	text-align: center;
}

header a {
	text-decoration: none;
	color: white;
}

header div.user a {
	color: #ffffff;
	position: absolute;
	top: 2%;
	right: 2%;
}

.side {
	width: 200px;
	height: 1000px;
	text-align: center;
	background-color: lightcoral;
}

.side a {
	color: white;
	text-decoration: none;
	display:block;
	width:200px;
	padding:0;
	margin:0;
	background:lightcoral;
	text-align:center;
}

.side a:hover{
	background:#f07070;
}

.content {
	width: 1000px;
	height: 300px;
	text-align: center;
}

article {
	display: flex;
}

/*あとでやる*/

section.scroll {
	overflow-y: none;
	height: 250px;
}

.send {
	width: 60px;
	height: 30px;
	background: lightcoral;
	border-radius: 5px;
	border-color: white;
	color: white;
}

textarea {
	border: 2px solid lightcoral;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
}

header placeholder {
	color: #F5B8B5;
}

small {
	position: absolute;
	left: 280px;
	color: #f06060;
}

.balloon-left {
	position: absolute;
	left: 250px;
	display: inline-block;
	margin: 1.5em 20px 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
}

.balloon-left:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 25px solid peachpuff;
	/*	要調整*/
}

.balloon-left p {
	margin: 0;
	padding: 0;
}

.balloon-right {
	position: absolute;
	right: 150px;
	display: inline-block;
	margin: 1.5em 15px 1.5em 20px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: peachpuff;
	border-radius: 15px;
}

.balloon-right:before {
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 25px solid peachpuff;
	/*	要調整*/
}

.balloon-right p {
	margin: 0;
	padding: 0;
}