@charset "UTF-8";
article {
	display: flex;
}

.side {
	width: 200px;
	height: 1000px;
	text-align: center;
	background-color: lightcoral;
}

.side a {
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: lightcoral;
	text-align: center;
}

.side a:hover {
	background: #f07070;
}

.container div{
/*	display:inline-block;*/
/*	display:block;*/

	position: relative;
	text-decoration: underline dashed 2px lightcoral;
	text-underline-offset: 8px;
	padding-top: 10px;
	left: 120px;
/*	min-width:500px;*/
}

.container p{
	position:relative;
	left:100px;
	font-size: 20px;
	color:#f07070;
}