@charset "UTF-8";

body {
	background: peachpuff;
}

article {
	display: flex;
}

.side {
	width: 200px;
	/*	height: 1000px;*/
	height: 3000px;
	text-align: center;
	background-color: lightcoral;
}

.side a {
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: lightcoral;
	text-align: center;
}

.side a:hover {
	background: #f07070;
}

/*.container div{*/
/*	display:inline-block;*/
/*	display:block;*/

/*	position: relative;*/
/*	text-decoration: underline dashed 2px lightcoral;*/
/*	text-underline-offset: 8px;*/
/*	padding-top: 10px;*/
/*	left: 120px;*/
/*	min-width:500px;*/
/*}*/

.DATE {
	/*	position:relative;*/
	position: static;
	float: left;
	left: 300px;
	font-size: 20px;
	margin-top: 10px;
	color: #f07070;
}

.TODO {
	position: static;
	text-decoration: underline dashed 2px lightcoral;
	text-underline-offset: 8px;
	margin-right: -16px;
/*	margin-right: 0px;*/

}

div.container {
	overflow-y: scroll;
	height: 480px;
	/*	width: 105%;*/
	width: 600px;
	height: 400px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/*	border:solid blue;*/
	overflow-x: hidden;

	margin-left: auto;
	margin-right: auto;

	margin-top: 50px;
	background-color: white;
	padding-top: 15px;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;

	background-image: linear-gradient(#feecd3 1px, transparent 0),
		linear-gradient(90deg, #feecd3 1px, transparent 0);
	background-size: 20px 20px;
}

div.container::-webkit-scrollbar {
	width: 10px;
}

.container::-webkit-scrollbar-track {
	background-color: white;
}

.container::-webkit-scrollbar-thumb {
	background-color: #f06060;

}

.right {
	align-items: flex-end;
}

.left {
	align-items: flex-start;
}

.balloon-right {
	position: absolute;
	top: 18em;
	left: 235px;
	display: inline-block;
	margin: 10px 15px 1.5em 20px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	font-size: 16px;
	background: floralwhite;
	border-radius: 15px;
	color: #f06060;


	text-align: center;
}

.balloon-right:before {
	content: "";
	position: absolute;
	top: 50%;
	/*	left: -25px;*/
	right: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 25px solid floralwhite;
}

.balloon-right p {
	margin: 0;
	padding: 0;
}

.balloon-left {
	position: absolute;
	top: 11.5em;
	left: 210px;
	display: inline-block;
	margin: 1px 15px 1.5em 20px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	font-size: 16px;
	background: floralwhite;
	border-radius: 15px;
	color: #f06060;
	text-align: center;

}

.balloon-left:before {
	content: "";
	position: absolute;
	top: 50%;
	/*	left: -25px;*/
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 25px solid floralwhite;
}

.balloon-left p {
	margin: 0;
	padding: 0;
}

div.container-zigzag {
	height: 480px;
	/*	width: 105%;*/
	width: 600px;
	height: 400px;
	-ms-overflow-style: none;
	/*	border:solid blue;*/
	overflow-x: hidden;

	margin-left: auto;
	margin-right: auto;

	margin-top: 50px;
	background-color: white;
	padding-top: 15px;
	padding-left: 30px;
	margin-bottom: 15px;

	display: flex;
	flex-direction: column;

	background-image: linear-gradient(#feecd3 1px, transparent 0),
		linear-gradient(90deg, #feecd3 1px, transparent 0);
	background-size: 20px 20px;
}

ul.todo {
	display: flex;
	flex-direction: column;
	/*	padding-bottom: 10px;*/
	align-items: flex-start;
	color: #666666;
	/*	list-style:disc*/
}

span.item{
	text-decoration: underline dashed 2px lightcoral;
	text-underline-offset: 10px;
}

textarea{
	border: 2px solid lightcoral;
	border-radius: 0.67em;
	padding: 0.5em;
	background-color: snow;
	outline: none;
	color: #666666;
	white-space: pre-wrap;
	margin-left:40px;
	width: 300px;
}

.record{
	color:#666666;
	border: 2px solid lightcoral;
	border-radius: 0.67em;
}

button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 500px;
	padding: 1rem 4rem;
	margin-top: 10px;
	margin:auto;
	font-weight: bold;
	border: 2px solid #fff;
	color: #fff;
/*	background: #f06060;*/

	border-radius: 10px;
	background: lightcoral;
}

button:hover {
	background: #fff;
	color: #f06060;
	border-color: lightcoral;
}

input[type=checkbox] {
    display: none;
}
.check {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.check::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.check::after {
    border-right: 6px solid #f06060;
    border-bottom: 3px solid #f06060;
    content: '';
    display: block;
    height: 20px;
    left: 7px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 9px;
}

input[type=checkbox]:checked + .check::before {
    border-color: #666;
}
input[type=checkbox]:checked + .check::after {
    opacity: 1;
}

.exe{
	padding-top: 10px;
	height: 15px;
}

/*div.container-zigzag::after {*/
/*	position: absolute;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	bottom: -20px;*/
/*	background: linear-gradient(135deg, #fff 10px, transparent 0), linear-gradient(225deg, #fff 10px, transparent 0);*/
/*	background-size: 20px 20px;*/
/*}*/

/*div.container-zigzag::before {*/
/*	position: absolute;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	top: -20px;*/
/*	background: linear-gradient(45deg, #fff 10px, transparent 0), linear-gradient(315deg, #fff 10px, transparent 0);*/
/*	background-size: 20px 20px;*/
/*	}*/