@charset "UTF-8";
article {
	display: flex;
}

.side {
	width: 200px;
/*	height: 1000px;*/
	height:3000px;
	text-align: center;
	background-color: lightcoral;
}

.side a {
	color: white;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	background: lightcoral;
	text-align: center;
}

.side a:hover {
	background: #f07070;
}

/*.container div{*/
/*	display:inline-block;*/
/*	display:block;*/

/*	position: relative;*/
/*	text-decoration: underline dashed 2px lightcoral;*/
/*	text-underline-offset: 8px;*/
/*	padding-top: 10px;*/
/*	left: 120px;*/
/*	min-width:500px;*/
/*}*/

.DATE{
/*	position:relative;*/
	position:static;
	float: left;
	left:300px;
	font-size: 20px;
	margin-top:10px;
	color:#f07070;
}

.TODO{
	position: static;
	left:300px;
	text-decoration: underline dashed 2px lightcoral;
	text-underline-offset: 8px;
/*	left: 120px;*/
	
}

div.container{
	overflow-y: scroll;
	height: 480px;
	width: 105%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	/*	border:solid blue;*/
	overflow-x: hidden;
}

div.container::-webkit-scrollbar {
	display: none;
}