<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<div class="calenderDiv">
		<form class = "calenderForm">
			<input type="hidden" name="calenderYM" th:value="${calenderYM}">
			<input type="hidden" name="prevOrNext" th:value="prev">
			<button class = "calenderButton">←</button>
		</form>
		
		<h1 style="display:inline;">
			[[${yearMonth}]]
		</h1>

		<form style="display: inline">
			<input type="hidden" name="calenderYM" th:value="${calenderYM}">
			<input type="hidden" name="prevOrNext" th:value="next">
			<button class = "calenderButton">→</button>
		</form>
	</div>
	<div class="calendar-container">
		<table class="calendar">
			<tr>
				<th>SUN</th>
				<th>MON</th>
				<th>TUE</th>
				<th>WED</th>
				<th>THU</th>
				<th>FRI</th>
				<th>SAT</th>
			</tr>
			<script th:inline="javascript">
				var i = 1;
				const dayList =/*[[${dayList}]]*/
					dayList.forEach(function (day) {
						if (i == 1 || i == 8 || i == 15 || i == 22 || i == 29 || i == 36) {
							document.write('<tr class="day">')
						}
						if (day == 0) {
							document.write('<td></td>')
						} else {
							document.write('<td>' + day + '</td>')
						}
						if (i == 7 || i == 14 || i == 21 || i == 28 || i == 35 || i == 42) {
							document.write('</tr>')
						}
						i++;
					});
			</script>
		</table>
	</div>


</body>

</html>