<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>チャット画面</title>
</head>
<body>
<form action="/chat" method="post" >
	<table border="1">
		内容：<br>
		<textarea name="text">
	</textarea>
	<input type="submit" value="送信">
	</table>
	</form>
	
	<th:block th:if="${chats != null}">
		<table border="1">
			<tr　 th:each="chat:${chats}">
				<td>[[${chat.name}]]</td>
				<td>[[${chat.text}]]</td>
<!--				<td>（メッセージ送信時間）</td>-->
			</tr>
		</table>
	</th:block>
	
	<a href="/logout">ログアウト</a>
</body>
</html>