<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>チャット画面</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<article>
		<div class="side">
			<p th:each="address:${addressList}">
				<a th:href="|/chat/${address.id}|">
					[[${address.name}]]</a><br>
			</p>
		</div>
		<br>
		<block class="content">
			<th:block th:if="${demo != null}" th:each="demo:${demo}">
				<div class="balloon-left">
					<p>[[${demo}]]</p>
				</div>
				<br><br>
			</th:block>

			<th:block th:if="${chats != null}">
				<small style="padding-top: 6px;">[[${addressName}]]</small>
				<small style="padding-top: 6px; right:-670px">あなた</small>
			</th:block>
			<br>
			<div class="scroll">
				<th:block th:each="chat : ${chats}">
					<th:block th:if="${chat.userId} == ${@account.id}">
						<div class="balloon-right">[[${chat.text}]]</div><br><br>
					</th:block>
					<th:block th:if="${chat.userId} != ${@account.id}">
						<div class="balloon-left">[[${chat.text}]]</div><br><br>
					</th:block>
				</th:block>

				<th:block th:if="${addressId != null}">
					<br>
					<br>
					<form action="/chat/add" method="post">
						<textarea name="text" cols="40" rows="10" placeholder="メッセージを入力"></textarea>
						<input type="hidden" name="addressId" th:value="${addressId}"><br>
						<button class="send">送信</button>
					</form><br>
				</th:block>
			</div>
			<br>
		</block>
	</article>
</body>

</html>