<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>チャット画面</title>
</head>
<body>

	<a href="/logout">ログアウト</a>

	<header th:replace="header"></header>
	<br>
	<form action="/chat/add" method="post">
		
		<textarea name="text" cols="40" rows="10" placeholder="メッセージを入力"></textarea>
		<br>
		<button>送信</button>
	</form>
	<br>
	
	<th:block th:if="${chats != null}">
		<table border="1">
			<tr　 th:each="chat:${chats}">
				<td>[[${chat.name}]]</td>
				<td>[[${chat.text}]]</td>
				<!--				<td>（メッセージ送信時間）</td>-->
			</tr>
		</table>
	</th:block>
<footer th:replace="footer"></footer>
</body>

</html>