<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<form action="/chat/diary" method="post">
		
		<h3>記入日</h3>
		<input type="date" name="releaseDate">
		<br>
		<h3>本日できたこと</h3>
		<textarea name="text" cols="40" rows="10"></textarea>
		<br>
		<h3>本日できなかったこと</h3>
		<textarea name="text" cols="40" rows="10"></textarea>
		<br>
		<h3>反省点</h3>
		<textarea name="text" cols="40" rows="10"></textarea>
		<br>
		
		
		<button>登録</button>
	</form>
	<br>
	
<footer th:replace="footer"></footer>
</body>

</html>