<header>
	<div class="user">
		<p th:text="${@account.name}+' さんがログイン中'"></p>
		<a href=""></a>
	</div>
	<!--	<div class="setting">-->
	<!--		<p th:text="設定"></p>-->
	<!--		<a href="/setting"><img src="/images/setting32px.png" alt="setting"></a>-->
	<!--	</div>-->


	<h1><a href="/chat">チャットアプリ（仮）</a></h1>
	<div class="application">
		<ul>
			<li><a href="/chat">チャット</a></li>
			<li><a href="/calender">カレンダー</a></li>
			<li><a href="/todoList">TODOリスト</a></li>
			<li><a href="#">Menu <span>▼</span></a>
				<ul>
					<li><a href="/profile"><img src="/images/setting.png" alt="setting"> プロフィール</a></li>
					<li><a href="/friends"><img src="/images/iceCandy32px.png" alt="iceCandy"> フレンド</a></li>
					<li><a href="/logout"><img src="/images/logout.png" alt="logout"> ログアウト</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>