<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link rel="stylesheet" type="text/css" href="/css/Login.css">
</head>

<body>
	<header>
		<div class="user">
			<p th:text="ログインしてください"></p>
			<a href="/logout"><img src="/images/logout.png" alt="logout"></a>
		</div>
		<h1>チャットアプリ（仮）</h1>
	</header>

	<div class="container">
		<form action="/login" method="post" class="loginForm">
			<input type="text" name="email" placeholder="メールアドレス">
			<input type="password" name="password" placeholder="パスワード">
			<button>ログイン</button>
		</form><br>
		<a href="/login/newuser">新規会員登録はこちら</a>
	</div>
	<footer th:replace="footer"></footer>
</body>

</html>