<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>登録完了</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/newuser2.css">
</head>

<body>

	<header>
		<div class="user">
			<p>ようこそ！</p>
		</div>
		<h1><a href="/login">チャットアプリ（仮）</a></h1>
	</header>

	<div class="error">
		<div class="balloon-right">
			<p>[[${user.name}]]さん</p>
		</div><br><br>
		<div class="balloon-right">
			<p>ようこそ</p>
		</div><br><br>
		<div class="balloon-right">
			<p>チャットアプリ(仮)へ</p>
		</div><br><br>
	</div>



	<div class="container">

		<a href="/login">ここをクリックして今すぐ始める</a>

	</div>
	<footer th:replace="footer"></footer>

</body>

</html>