<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>確認ページ</title>
	<link rel="stylesheet" type="text/css" href="/css/newuser2.css">
</head>

<body>

	<header>
		<div class="user">
			<p>新規登録情報　確認用ページ</p>
		</div>
		<h1><a href="/login">チャットアプリ（仮）</a></h1>
	</header>

	<div class="error">
			<div class="balloon-right">
				<p>入力内容は<br>
					こちらでよろしいですか？</p>
			</div><br><br>
	</div>



	<div class="container">
		<form action="/login/newuser2" method="post" class="saveForm">
			<div class="box2">
				<p th:text="${user.name}"></p>
			</div>
			<div class="box2">
				<p th:text="${user.email}"></p>
			</div>
			<div class="box2">
				<p th:text="${user.password}"></p>
			</div>
			<input type="hidden" name="name" th:value="${user.name}">
			<input type="hidden" name="email" th:value="${user.email}">
			<input type="hidden" name="password" th:value="${user.password}">
			<button>登録</button>
		</form><br>
		<a href="/login">ログイン画面へ戻る</a>

	</div>
	<footer th:replace="footer"></footer>

</body>

</html>