<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>TODOリスト</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/todoList.css">
</head>

<body>
	<header th:replace="header"></header>

	<a href="/todolist/newtodo">新規入力</a>

	<hr>
	<div class="container">
		<table border="1">
			<tr>
				<th>ID</th>
				<th>記入日</th>
				<th>時間</th>
				<th>実行リスト</th>
				<th> </th>
				<th> </th>
			</tr>
			<th:block th:each=" todo: ${todos}">
				<tr>
					<td>[[${todo.releaseDate}]]</td>
					<td>[[${todo.hour}]]時[[${todo.minute}]]分</td>
					<td>[[${todo.text}]]</td>
					<td>
						<form th:action="|/todoList/${todo.id}/edit|" method="get">
							<input type="submit" value="変更">
						</form>
					</td>
					<td>
						<form th:action="|/todoList/${todo.id}/delete|" method="post">
							<input type="submit" value="実行済み">
						</form>
					</td>
				</tr>
			</th:block>
		</table>
	</div>

	<footer th:replace="footer"></footer>
</body>

</html>