<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>TODOリスト</title>
	<!--	<link rel="stylesheet" type="text/css" href="/css/style.css">-->
</head>

<body>

	<a href="/chat">チャット</a>

	<a href="/todolist/newtodo">新規入力</a>
	<br>
	<hr>


	<table border="1">
		<tr>
			<th>記入日</th>
			<th>時間</th>
			<th>実行リスト</th>
		</tr>
		<th:block th:each=" todo: ${todos}">
			<tr>
				<td>[[${todo.releaseDate}]]</td>
				<td>[[${todo.hour}]]時[[${todo.minute}]]分</td>
				<td>[[${todo.text}]]</td>
			</tr>

		</th:block>
	</table>

	<!--	<footer th:replace="footer"></footer>-->
</body>

</html>