<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>TODOリスト</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<form action="/todolist/newtodo" method="post">
		<h3>やることリスト</h3>

		<table border="1">
			<tr>
				<th>記入日</th>
				<td><input type="date" name="releaseDate"></td>
			</tr>

			<tr>
				<th>時間</th>
				<td>
					<select id="hour" name="hour"></select>時
					<select id="minute" name="minute"></select>分
				</td>

			</tr>
			<tr>
				<th>本日の実行リスト</th>
				<td><textarea name="text"></textarea></td>
			</tr>

			<th></th>
			<td><button>送信</button></td>
			</tr>
		</table>
		<script>
			// 時間のドロップダウンメニューを生成
			var hourDropdown = document.getElementById("hour");
			for (var hour = 00; hour < 24; hour++) {
				var option = document.createElement("option");
				option.text = hour.toString().padStart(2, "0");
				hourDropdown.add(option);
			}

			// 分のドロップダウンメニューを生成
			var minuteDropdown = document.getElementById("minute");
			for (var minute = 00; minute < 60; minute++) {
				var option = document.createElement("option");
				option.text = minute.toString().padStart(2, "0");
				minuteDropdown.add(option);
			}
		</script>

	</form>

	<footer th:replace="footer"></footer>
</body>

</html>